---
layout: default
title: Schedule
permalink: /schedule
order: 4
---

<div id="schedule">
  <div class="container container-2-col reverse">
    <div class="text">
      <h1>Schedule of Events</h1>
      <p>Join us Tuesday for info sessions with two of our top sponsors to learn more about their opportunities. Doors open at noon on Tuesday for our general career fair. We recommend you bring your resumes and a project piece to show.</p>
    </div>
    <div class="illustration">
        <img src="/assets/images/register.svg" alt="" />
    </div>
  </div>
</div>

<div id="agenda">
  <div class="container">

      {% for block in site.data.schedule %}
      <div class="agenda-block">

        <div class="date">
          <h2>{{ block.date }}</h2>
        </div>

        <div class="agenda-item-list">
          {% for item in block.items %}
          <div class="agenda-item {% if item.color == "green" %}bg-light-green{% elsif item.color == "pink" %}bg-pink{% elsif item.color == "yellow" %}bg-yellow{% endif %}">
            <div class="time">
              {{ item.time }}
            </div>
            <div class="activity">
              {{ item.activity }}
            </div>
            <div class="location">
              {{ item.location }}
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      {% endfor %}

  </div>
</div>
