---
layout: default
title: Home
permalink: /
order: 1
---

<div id="home">
  <div class="container container-2-col">
    <div class="text">
      <h1>Design-Centric Career Fair</h1>
      <h3>January 15th, 2019 <span class="dash">-</span> PC East Ballroom</h3>
      <p>The traditional career fair format doesn’t help students seeking design roles. Designers need a medium to showcase their work and experience. At Stride, students have the opportunity to showcase their projects and their portfolios versus handing off their resumes to recruiters.</p>
      <a href="/about"><button class="bg-dark-green">Learn More</button></a> 
      <!--
      <a target="_blank" href="https://goo.gl/forms/8HT3k62hElrIv2g32"><button class="bg-dark-green">Register Your Company</button></a>-->
    </div>
    <div class="illustration runner">
      <div id="bm"> </div>
    </div>
  </div>
</div>

<div id="selected-companies" class="bg-yellow">
  <div class="container">

    <div class="block-header">
      <h2>Top Sponsors</h2>
      <a href="/companies"><h3>View Full Company List ⟶</h3></a>
    </div>

    <div class="card-container yellow">
      {% for company in site.data.companies %}
        {% if company.home and company.hide != true %}
        
          {% include company-card.html %}

        {% endif %}
      {% endfor %}
    </div>

    <p><br>Final company list TBD</p>
  </div>
</div>

<!-- Scripts -->
<script src="/assets/scripts/lottie.js"></script>
<script src="/assets/scripts/index.js"></script>
