<a class="card company-card">
  <div class="card-image">
    <img src="/assets/images/logos/{{ company.logo }}" alt="" />
  </div>
  <div class="card-text">
    <h3>{{ company.name }}</h3>
    <p class="card-description">{{ company.description }}</p>
  </div>
</a>

<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal">
      <div class="modal-header">
        <a href="{{ company.url }}" target="_blank">
          <h3>{{ company.name }}</h3>
        </a>
        <div class="close-modal-btn">✕</div>
      </div>

      <div class="modal-text">
        <div class="info">
          <p>
            {{ company.description }}
            <a href="{{ company.url }}" target="_blank">Learn more</a>
          </p>
          {% if company.roles %}
          <h4>Open Roles</h4>
          {% for role in company.roles %}
          <p>
            {% if role.link %}<a href="{{ role.link }}" target="_blank"
              >{% endif %}{{ role.title }}{% if role.link %}</a
            >{% endif %}
          </p>
          {% endfor %} {% endif %}
        </div>
      </div>
      <!-- /.modal-text -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.modal-container -->
</div>
<!-- /.modal-overaly -->
