<div class="bg-gray">
  <div class="outer-container pb-2 pt-2">
    <div class="inner-container">
      <div id="cta">
        <div class="mr-1 lap-up--mr-2" style="white-space: nowrap">
          <h1 class="text-dark">Want to recruit top talent?</h1>
          <p>We'd love to have you.</p>
        </div>
        <div id="cta-btn">
          <a class="btn btn-red" href="about">Learn More</a>
          <!--<a href="{{ site.signup }}" class="btn btn-red" target="_blank">Contact Us</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
