<div class="grid__item desk--one-quarter lap--one-half">
  <div class="card v-align-center palm--mb-1">
    <div class="expand-icon">+</div>
    <img
      src="assets/images/companies/{{ company.logo }}"
      alt="{{ company.name }}"
    />
  </div>
  <div class="modal-overlay">
    <div class="container">
      <div class="modal">
        <div class="grid">
          <div class="grid__item">
            <div class="modal-title bg-dark-blue text-light pt-1 pb-1 pr-2 pl-2">
              <h2>{{ company.name }}</h2>
              <div class="close-modal-btn">✕</div>
            </div>
          </div>
          <div class="grid__item desk--two-thirds">
            <div class="pt-1 desk--pb-1 portable--pr-2 pl-2">
              {{ company.description }}
            </div>
          </div>
          <div class="grid__item desk--one-third">
            <div class="pt-1 pb-1 pr-2 portable--pl-2">
              {% if company.roles %}
              <div class="mb-1">
                <p><b>Open Roles</b></p>
                {% for role in company.roles %}
                <p><a href="{{ role.link }}" target="_blank">{{ role.title }}</a></p>
                {% endfor %}
              </div>
              {% endif %}

              {% if company.auth %}
              <div class="mb-1">
                <p><b>Work Authorization</b></p>
                {% for auth in company.auth %}
                <p>{{ auth.title }}</p>
                {% endfor %}
              </div>
              {% endif %}

              <div class="mb-1">
                <p><b>Company Site</b></p>
                <p><a href="{{ company.url }}">{{ company.name }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>