<header class="pt-2">
  <div id="stride-logo" class="portable--mb-1">
  <a href="/">
    <img src="assets/images/stride-logo.svg" alt="Stride"></a><a target="_blank" class="btn btn-red desk--hide" href="{{ site.signup }}">Register</a>
    </div>
  <nav>
    <ul>
      {% for item in site.data.nav %}
      <li>
        <a href="{{ item.url }}" {% if item.newtab %}target="_blank"{% endif %} {% if page.title == item.title %}class="active"{% endif %}>{{ item.title }}</a>
      </li>
      {% endfor %}
      <li class="portable--hide"><a target="_blank" class="btn btn-yellow" href="mailto:hello@ucsddesign.co">Contact Us</a></li>
    </ul>
  </nav>
</header>
