// Color palette
$red: #ef5350; // Red - for buttons
$dark-red: #E53935;
$light-red: #FFEBEE;
$yellow: #F9A825;
$dark: #424242; // Black
$green: #80cbc4; // Green
$dark-green: #2f8c7e; // Dark Green
$light-green: #e0f2f1; // Light green
$light-yellow: #ffecb3; // Yellow
$blue: #1976D2;
$light-blue:#E3F2FD;
$dark-yellow: #ffcc80; // Dark yellow
$wild-sand: #f6f6f6; // Light gray

$body-font-color: $dark;

$spacer-1: 2rem;
$spacer-2: 4rem;
$spacer-3: 8rem;
$spacer-4: 16rem;
$gutter: 6rem;

$spacer-1: 2rem;
$spacer-2: $spacer-1 * 2;
$spacer-3: $spacer-2 * 2;
$spacer-4: $spacer-3 * 2;

$body-font-size: 1.8rem;
$bold: 600;
$semibold: 500;

$footer-height-palm: calc(#{$spacer-2 + $body-font-size});
$footer-height: calc(#{$spacer-3 + $body-font-size});
