// Color palette
$burnt-sienna: #ef5350; // Red
$mine-shaft: #424242; // Black
$monte-carlo: #80cbc4; // Green
$lochinvar: #2f8c7e; // Dark Green
$aqua-squeeze: #e0f2f1; // Light green
$buttermilk: #ffecb3; // Yellow
$chardonnay: #ffcc80; // Dark yellow
$wild-sand: #f6f6f6; // Light gray

$spacer-1: 1.5rem;
$spacer-2: 3rem;
$spacer-3: 6rem;
$spacer-4: 9rem;

$body-font-size: 1.4rem;

$footer-height-palm: calc(#{$spacer-2 + $body-font-size});
$footer-height: calc(#{$spacer-3 + $body-font-size});
