// Media breakpoints
$xs-screen: 480px;
$sm-screen: 600px;
$md-screen: 840px;
$lg-screen: 960px;
$xl-screen: 1280px;
$xxl-screen: 1440px;

// Color palette
$burnt-sienna: #EF5350; // Red
$mine-shaft: #414141; // Black
$monte-carlo: #80CBC4; // Green
$lochinvar: #2F8C7E; // Dark Green
$aqua-squeeze: #E0F2F1; // Light green
$buttermilk: #FFECB3; // Yellow
$chardonnay: #FFCC80; // Dark yellow
$wild-sand: #F6F6F6; // Light gray

$top-bottom-space: 4rem;

$side-space-xs: 7vw;
//$side-space-md: 8rem;
$side-space-lg: 12rem;

$footer-height: 10rem;
