button {
  margin: 2rem 0;
  background-color: $burnt-sienna;
  padding: 2.2rem 1.8rem 1.8rem;
  line-height: 0;
  color: #fff;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .3s;
  a {
    line-height: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  &.bg-red {
    @include hover {
      background-color: lighten($burnt-sienna, 5%);
    }
  }
  &.bg-dark-green {
    @include hover {
      background-color: lighten($lochinvar, 5%);
    }
  }
}