button {
  margin: 2rem 0;
  background-color: $burnt-sienna;
  padding: 2.2rem 1.8rem 1.8rem;
  line-height: 0;
  color: #fff;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
  a {
    line-height: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}
