.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 0;
  color: #fff;
  transition: background-color 0.3s;
  font-weight: $semibold;
  padding: 2.3rem 2rem 2rem;
  font-family: "NB International Mono", Arial, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  &.btn-dark-blue {
    background-color: $dark-blue;
    @include hover {
      background-color: darken($dark-blue, 7%);
    }
  }
  &.btn-light-blue {
    color: $dark-gray;
    background-color: $light-blue;
    @include hover {
      background-color: darken($light-blue, 7%);
    }
  }

  &.btn-red {
    background-color: $red;
    @include hover {
      background-color: darken($red, 7%);
    }
  }

  &.btn-yellow {
    background-color: $yellow;
    @include hover {
      background-color: darken($yellow, 7%);
    }
  }

  &.btn-green {
    background-color: $dark-green;
    @include hover {
      background-color: darken($dark-green, 7%);
    }
  }
}
