<!DOCTYPE html>
<html lange="en">
  {% include head.html %}

  <body>
    <div id="body-wrapper">
      <div class="outer-container">
        {% include header.html %}
      </div>
      <main>
        <article>
          {{ content }}
          {% include cta.html %}
        </article>
      </main>
      <div>
        {% if page.slider %}
          {% include slider.html height="50" unit="%" transition="slide" duration="7" %}
        {% endif %}
      </div>
    </div>
    
    <div class="outer-container">
      {% include footer.html %}
    </div>
  </body>
</html>
