html {
  padding: 0;
  margin: 0;
  font-size: 50%;
  position: relative;
  @include sm-up {
    font-size: 62.5%;
  }
  @include xxl-up {
    //font-size: 0.7vw;
  }
}

.body-wrapper {
  height: 100%;
  min-height: calc(100vh - #{$footer-height} - #{$top-bottom-space});
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem $side-space-xs;
  @include sm-up {
    padding: $block-top-bottom-space $side-space-xs;
  }
  @include xl-up {
    padding: $block-top-bottom-space $side-space-xl;
  }
  @include xxl-up {
    max-width: 128rem;
  }
}

$text-illustration-gap: 3vw;

.container-2-col {
  @include md-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text,
    .illustration {
      width: 50%;
    }
    &:not(.reverse) {
      .text {
        padding-right: $text-illustration-gap;
      }
      .illustration {
        padding-left: $text-illustration-gap;
      }
    }
    &.reverse {
      flex-direction: row-reverse;
      .text {
        padding-left: $text-illustration-gap;
      }
      .illustration {
        padding-right: $text-illustration-gap;
      }
    }
  }
}

.illustration {
  user-select: none;
  text-align: center;
  img,
  svg {
    margin-top: 3rem;
    width: 80% !important; // !important needed to override runner svg
    @include xs-up {
      width: 50% !important;
    }
    @include md-up {
      margin-top: 0;
      max-height: 50rem !important;
      width: 100% !important;
    }
  }
}

.block-header {
  margin-bottom: 3rem;
}

#header,
#footer {
  font-weight: 500;
  @include lg-up {
    .container {
      padding: 0 8rem;
    }
  }
}

#header {
  @include md-up {
    margin-top: $top-bottom-space;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 4rem;
    @include md-up {
      padding-top: 0;
    }
    @include lg-up {
      justify-content: space-between;
      padding-bottom: 3rem;
      flex-direction: row;
    }
  }
}

.register-button {
  font-size: 1.5rem;
  button {
    padding: 1.8rem 1.5rem 1.5rem;
    margin: 0;
  }
  @include lg-up {
    display: none;
  }
}

.register-button-lg {
  display: none;
  @include lg-up {
    display: inline-block;
  }
}

// Vertically center logo
header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  a {
    margin: 0 0.8rem;
  }
  @include lg-up {
    margin-bottom: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  img {
    height: 2.8rem;
    @include md-up {
      height: 2.5rem;
    }
  }
}

#footer {
  .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: $footer-height;
    text-align: center;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include md-up {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
}

.copyright {
  margin-bottom: 2rem;
  @include md-up {
    margin-bottom: 0;
  }
}

nav {
  li {
    display: inline;
    font-size: 1.4rem;
    white-space: nowrap;
    margin: 0 2.4vw;
    @include lg-up {
      margin: 0;
      &:not(:last-child) {
        margin-right: 3rem;
      }
      font-size: $font-size-body;
    }
    a {
      &:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.3rem;
        bottom: 0;
        left: 0;
        border-bottom: 0.3rem solid $chardonnay;
        transition: width 0.3s;
      }
      &.active {
        &:before {
          width: 1.6rem;
        }
      }
      @include hover {
        &:before {
          width: 50%;
        }
      }
    }
  }

  a {
    display: inline-block;
    position: relative;
    // Exclude styles from register button
  }
  button {
    margin: 0;
  }
}

#cta {
  .cta-container {
    width: 100%;
    max-width: 39rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  h2 {
    margin: 0;
  }
  a {
    width: 100%;
  }
  p {
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
}

.cta-button {
  font-size: 4.8vw;
  margin: 0;
  height: 100%;
  width: 100%;
  @include xs-up {
    font-size: 2.8rem;
  }
}
