#content-wrapper {
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 6%;
}

#body-wrapper {
  height: 100%;
  min-height: calc(100vh - #{$footer-height});
  @include grid-media-query(palm) {
    min-height: calc(100vh - #{$footer-height-palm});
  }
}
