@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  @include grid-media-query($name) {
    @if $name == "" {
      $name: "";
    } @else {
      $name: $name + "--";
    }
    .#{$name}hide {
      display: none !important;
    }
    /* Padding top */
    .#{$name}pt-1 {
      padding-top: $spacer-1 !important;
    }

    .#{$name}pt-2 {
      padding-top: $spacer-2 !important;
    }

    .#{$name}pt-3 {
      padding-top: $spacer-3 !important;
    }

    .#{$name}pt-4 {
      padding-top: $spacer-4 !important;
    }

    /* Margin top */
    .#{$name}mt-1 {
      margin-top: $spacer-1 !important;
    }

    .#{$name}mt-2 {
      margin-top: $spacer-2 !important;
    }

    .#{$name}mt-3 {
      margin-top: $spacer-3 !important;
    }

    .#{$name}mt-4 {
      margin-top: $spacer-4 !important;
    }

    /* Margin bottom */
    .#{$name}mb-1 {
      margin-bottom: $spacer-1 !important;
    }

    .#{$name}mb-2 {
      margin-bottom: $spacer-2 !important;
    }

    .#{$name}mb-3 {
      margin-bottom: $spacer-3 !important;
    }

    .#{$name}mb-4 {
      margin-bottom: $spacer-4 !important;
    }
  }
}

.bg-red {
  background-color: $burnt-sienna;
}

.bg-yellow {
  background-color: $buttermilk;
}

.bg-pink {
  background-color: #ffdede;
}

.bg-dark-green {
  background-color: $lochinvar;
}

.bg-light-green {
  background-color: $aqua-squeeze;
}

.bg-gray {
  background-color: $wild-sand;
}

.text-red {
  color: $burnt-sienna;
}

.text-green {
  color: $lochinvar;
}
