.bg-red {
  background-color: $burnt-sienna;
}

.bg-yellow {
  background-color: $buttermilk;
}

.bg-dark-green {
  background-color: $lochinvar;
}

.bg-light-green {
  background-color: $aqua-squeeze;
}

.bg-gray {
  background-color: $wild-sand;
}

.text-red {
  color: $burnt-sienna;
}

.text-green {
  color: $lochinvar;
}
