/* Home blocks */

#home {
  h1 {
    white-space: nowrap;
  }
  h3 {
    margin-top: -1rem;
  }
  @include lg-up {
    margin-top: -3rem;
  }
}

#companies {
  button {
    margin-top: 0.8rem;
  }
}

#selected-companies {
  .block-header {
    @include md-up {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* About blocks */

// #TODO
.task-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include sm-up {
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }
}

.task {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  padding: 0 2rem;
  img {
    height: 16rem;
    @include sm-up {
      height: 10rem;
    }
    @include md-up {
      height: 15rem;
    }
    padding: 0 0 2rem;
    // Sign up for an interview time
    &:first-child {
      margin-left: -2rem;
    }
    @include xl-up {
      height: 20rem;
    }
  }
}

#agenda {
  margin-bottom: 3rem;
  a {
    transition: opacity 0.3s;
    @include hover {
      opacity: 0.5;
    }
  }
}

.agenda-block {
  &:not(:first-child) {
    .date {
      margin-top: 6rem;
      @include md-up {
        margin-top: 0;
      }
    }
  }
  @include md-up {
    display: grid;
    grid-template-columns: 21rem 1fr;
    &:not(:last-child) {
      margin-bottom: 5.5rem;
    }
  }
}

.date {
  h2 {
    margin: 0;
    font-weight: 400;
  }
  margin-bottom: 2rem;
  @include md-up {
    margin-bottom: 0;
  }
}

.agenda-item {
  @include md-up {
    display: grid;
    grid-template-columns: 12rem 3fr 2fr;
    grid-gap: 4rem;
  }
  //font-size: 2.4rem;
  padding: 2.3rem 2.3rem 1.7rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  .sub {
    font-size: 2rem;
  }
}
