body {
  -webkit-font-smoothing: antialiased;
  // font-family: "Sofia Pro", Avenir, sans-serif;
  font-family: "NB International Pro", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02rem;
  // font-family: "Neue Plak";
  font-size: $body-font-size;
  color: $body-font-color;
  line-height: 170%;
}

h1,
h2 {
  font-family: "Neue Plak Extended";
  color: $dark-gray;
}

h1 {
  font-weight: $bold;
  font-size: 3.4rem;
  line-height: 120%;
  letter-spacing: 0.04rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: $semibold;
  line-height: 140%;
  letter-spacing: 0.04rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  a:not(.btn) {
    // opacity: 0.5;
    text-decoration: underline;
  }
}

b {
  font-weight: $bold;
}

.highlight {
  position: relative;
  &::after {
    position: absolute;
    left: 0.5rem;
    top: 0.6rem;
    content: "";
    width: 98%;
    height: 1.3rem;
    background-color: $yellow;
    z-index: -999;
    transition: opacity 0.3s;
    @include grid-media-query(portable) {
      left: 0.3rem;
      top: 0.5rem;
      height: 1rem;
    }
  }
  @include hover {
    &::after {
      opacity: 0;
    }
  }
}
